/MyNotes/.vs
/MyNotes/MyNotes/MyNotes.Android/MyNotes.Android.csproj.user
/MyNotes/MyNotes/MyNotes.Android/bin
/MyNotes/MyNotes/MyNotes.Android/obj
/MyNotes/MyNotes/MyNotes.iOS/obj
/MyNotes/MyNotes/MyNotes.iOS/bin
/MyNotes/MyNotes/MyNotes/bin
/MyNotes/MyNotes/MyNotes/obj
MyNotes/MyNotes/MyNotes/MyNotes.csproj.user
MyNotes/MyNotes/MyNotes.iOS/MyNotes.iOS.csproj.user
MyNotes/MyNotes/MyNotes.Android/MyNotes.Android.csproj.user
MyNotes/MyNotes/MyNotes/MyNotes.csproj.user
